/* styles.css or App.css */
.letter-thumbnail-container {
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Adjust the border-radius as needed */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .letter-thumbnail-text {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    color: white;
  }
  